body {
    background-color: black;

}

h1 {
    color: orange;
    font-size: 55px;
    font-family: 'Metal Mania', cursive;
    font-family: 'Nosifer', cursive;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 25px;
}

h2 {
    color: orange;
    font-size: 35px;
    font-family: 'Metal Mania', cursive;
    font-family: 'Nosifer', cursive;
    text-align: center;

}

p {
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px;
    line-height: 28px;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    margin-left: 130px;
    margin-right: 130px;
    cursor: pointer;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #c8180b;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px rgb(74, 74, 74);
}

button:hover {
    background-color: #8c1705
}

button:active {
    background-color: #330000;
    box-shadow: 0 5px rgb(46, 46, 46);
    transform: translateY(3px);
}

section {
    display: flex;
    justify-content: center;
    padding: 35px;

}

img {
    width: 200px;
    height: 320px;
    margin-left: 100px;
    margin-right: 100px;

}

iframe {
    display: block;
    margin: auto;
}